<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    Posted by
    {{user.username}}
    on
    {{created_at}}
    |
    <a href="/post/{{id}}">
      {{comments.length}}
      {{"comment"}}
    </a>
  </div>
</article>